$color-grey1: #fcfcfc;
$color-grey2: #eee5df;
$color-grey4: #4d524b;
$color-grey5: #3c403a;

$color-primary: #e67620;

$color-secondary: #9d2322;
$color-secondary-light: #b9def3;

$color-blue: #007bff;
$color-info: #17a2b8;

$font-heading: "Cormorant Garamond", serif;
$font-para: "Montserrat", sans-serif;
