*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $font-para;
    @include respond("xs") {
        font-size: 30%;
    }
    @include respond("s") {
        font-size: 50%;
    }
    @include respond("m") {
        font-size: 55%;
    }
    @include respond("l") {
        font-size: 60%;
    }
    @include respond("xl") {
        font-size: 62.5%;
    }
    @include respond("xxl") {
        font-size: 65%;
    }
    @include respond("tv") {
        font-size: 100%;
    }
}
body {
    background-color: $color-grey4;
}
