
<div class="nav" id='navigation'>
  <div class="logo-primary">
    <h1><span>A</span>rchtek</h1>
  </div>
  <ul class="nav__links">
    <a href="/" class='btn-link'>
      <span>Home</span>
    </a>
    <a href="/" class='btn-link'>
      <span>Sevices</span>
    </a>
    <a href="/" class='btn-link'>
      <span>Works</span>
    </a>
    <a href="/" class='btn-link'>
      <span>News</span>
    </a>
    <a href="/" class='btn-link'>
      <span>Studio</span>
    </a>
  </ul>
  <div class="nav__lang">
    <i class="bi bi-linkedin nav__lang--icon1"></i>
    <i class="bi bi-facebook nav__lang--icon2"></i>
    <i class="bi bi-list nav__lang--icon3"></i>
  </div>
</div>
